<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta charset="UTF-8">
    <title>Széplegénymákos</title>
    <link rel="stylesheet" href="styles/base_ui.css">

    <link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dosis&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
<section id="wrapper">
    <header id="header">
        <h1><a id="logo_link" href="/">Széplegénymákos</a></h1>
        <div class="right">
            <nav>
                <ul class="navigation">
                    <li>
                        <a href="/szotar">szótár</a>
                    </li>
                    <li>
                        <a href="/kapcsolat">kapcsolat</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="body">
        <div class="headline">
            <div class="details">
                <h2><a href="">{{message}}</a></h2>
                <p class="info">
                    <time datetime="">
                        2017-02-28
                    </time>
                </p>

            </div>
            <div class="body">
                <p>
                    {{message}}
                </p>
            </div>
            <div class="x"></div>
        </div>

        <div class="col">
            <h3>
                szótár
            </h3>
            <div id="words_wrap">
                {{#words}}
                <div class="word-item" data-id:"{{id}}">
                    <div class="foreign">
                        {{foreign}}
                    </div>
                    <div class="separator">:</div>
                    <div class="plain">
                        {{plain}}
                    </div>
                </div>
                {{/words}}
            </div>
        </div>
    </section>
    <div id="footer">
        <p>
            Copyright &copy; <em>Mindmondod.hu</em> &middot; Balazs Richer, <a
                href="mailto:richer.balazs@gmail.com?Subject=Hello%20richerweb"> richerweb </a>
            <a class="lang-menu" href="#">HU</a>
        </p>
    </div>
</section>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script data-main="app.js" src="bower_components/requirejs/require.js"></script>
</body>
</html>