html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}
body {
    line-height: 1
}
ol, ul {
    list-style: none
}
blockquote, q {
    quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    line-height: 1;
    font: .8em Georgia, "Times New Roman", Serif;
    background: #fff;
    color: #777;
    width: 100%;
    height: 100%;
}

a {
    color: #D40000;
    text-decoration: none;
}
h1 a {
    color: rgb(119, 119, 119);
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
}
a:hover {
    color: #8F0000;
}

h1 {
    float: left;
    font-size: 2em;
    font-weight: normal;
    font-style: italic;
    padding: 0 0 25px 10px;
    margin: 0 0 10px;
}
h2 {
    font-weight: normal;
    font-size: 2.6em;
    padding: 0 0 10px;
    margin: 0 0 15px;
}
h3 {
    font-size: 1.7em;
    font-weight: normal;
    margin: 0 0 20px;
}
h3 a {
    color: #222;
}
i, cite, em, var, address, dfn {
    font-style: italic;
}
p {
    line-height: 1.7em;
    margin: 0 0 15px;
}
.clear {
    clear: both;
}

section#wrapper {

    width: 960px;
    margin: 40px auto;
}

header#header {
    clear: both;
    height: 40px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 25px
}

ul.navigation {
    float: right;
    margin: 10px 10px 0 0;
}
ul.navigation li {
    display: inline;
    list-style: none;
}

ul.navigation li a {
    float: left;
    margin: 0 0 0 20px;
    color: #888;
}

a.lang-menu {
    font-size: 0.9em;
    color: #999;
    float: right;
    display: block;
    margin-right: 7px;
}

ul.navigation li a:hover {
    color: #555;
}

div#footer {
    clear: both;
    border-top: 1px solid #ddd;
    padding: 20px 0;
    font-size: .9em;
    color: #999;
}
.x {
    clear: both;
}
.contact-notice {
    text-align: center;
    padding: 10px;
    background: #DFF2BF;
    border: 1px solid;
    clear: both;
    color: #4F8A10;
    margin-bottom: 25px;
}
form.contact {
    margin-top: 5px;
    padding-bottom: 5px;
}
form.contact div {
    clear: left;
    margin-bottom: 10px;
}
form.contact label {
    float: left;
    margin-right: 10px;
    text-align: right;
    width: 100px;
    font-weight: bold;
    vertical-align: top;
    padding-top: 6px;
}
form.contact input[type="text"], form.contact input[type="email"] {
    width: 493px;
    line-height: 17px;
    padding-left: 3px;
}
form.contact textarea {
    width: 493px;
    height: 150px;
    padding-left: 3px;
    line-height: 17px;
}
form.contact input[type="submit"] {
    margin-left: 110px;
    width: 508px;
    line-height: 26px;
    font-size: 20px;
    min-height: 26px;
}
form.contact ul li {
    color: #ff0000;
    margin-bottom: 5px;
}

div.headline {
    clear: both;
    padding: 30px 10px;
    border-bottom: 1px solid #ddd;
    margin: 0 0 40px;
}

div.headline .details {
    float: left;
    width: 250px;
}

div.headline .details .info {
    font-size: .9em;
    color: #999;
}

div.headline .details .info a {
    color: #777;
    border-bottom: 1px dotted #999;
    padding: 3px 1px;
}

div.headline .body {
    float: right;
    width: 618px;
    padding: 0 0 0 30px;
    border-left: 1px solid #ddd;
}

div.col {
    font-size: .9em;
}
article.article {
    clear: both;
    padding: 30px 10px;
    margin: 0 0 40px;
}
div#contact-page-body {
    clear: both;
    padding: 30px 10px;
    margin: 0 0 15px;
}
div#contact
{
    border-bottom:none !important;
    margin-bottom: 5px !important;
}
#wrapper > section > article > header > h2
{
    color: #222;
}
#words_wrap {
    clear: both;
    padding: 30px 10px;
    margin: 0 0 40px;
    float: left;
}
.plain {
    float: left;
    margin-left: 13px;
    width: 210px;

}
.foreign {
    float: left;
    font-style: italic;
    width: 453px;
    text-align: right;
}
.separator {
    float: left;
}
.word-item {
    line-height: 32px;
}
a#logo_link:hover {
    color: rgb(119, 119, 119);
    text-decoration: none;
}
.word-list {
    line-height: 90px;

    text-align: center;
}